<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Symfony 5 HTTP Cached Rest API</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% block body %}
      <h1>Symfony 5 HTTP Cached Rest API</h1>
      <p>Open up your developer console and then visit the api route. The first visit won't be cached as indicated by a 200 response code. Refresh and you'll recieve the cached 304 response.</p>
      <ul>
        <li><a href='/api/user'>Users Resource</a></li>
        <li><a href='/api/category'>Category Resource</a></li>
        <li><a href='/api/tag'>Tag Resource</a></li>
        <li><a href='/api/article'>Article Resource</a></li>
        <li><a href='/api/project-category'>Project Category Resource</a></li>
        <li><a href='/api/project'>Project Resource</a></li>
      </ul>
    {% endblock %}
  </body>
</html>
