<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Symfony 5 HTTP Cached Rest API</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% block body %}
      <h1>Symfony 5 HTTP Cached Rest API</h1>
    {% endblock %}
  </body>
</html>
